openvino>=2024.1.0
torch>=2.1 --extra-index-url https://download.pytorch.org/whl/cpu
torchvision
diffusers==0.25.1
huggingface-hub<0.26.0
peft>=0.6.2
transformers
tqdm
pillow
opencv-python
gradio==3.43.1
pytest
pytest-cov
